# List

1. List is a collection of data type
2. Declare - [ ]
3. List are used for assign multiple values in a single variable based on index
4. List are Mutable(changable)

In [7]:
userData = [10, 'Sara', 95.5, True, [15, 25, 35]]

print(userData, type(userData))

[10, 'Sara', 95.5, True, [15, 25, 35]] <class 'list'>

In [8]:
print(userData[0], type(userData[0]))
print(userData[1], type(userData[1]))
print(userData[2], type(userData[2]))
print(userData[3], type(userData[3]))
print(userData[4], type(userData[4]))

10 <class 'int'>
Sara <class 'str'>
95.5 <class 'float'>
True <class 'bool'>
[15, 25, 35] <class 'list'>

In [9]:
print(userData[4][0])

15

# Using If

In [11]:
userData = [10, 'Sara', 95.5, True, [15, 25, 35]]

print(userData)

print('-------------------------------------------------')

if 'Sara' in userData:
    print('Yes')

else:
    print('No')

[10, 'Sara', 95.5, True, [15, 25, 35]]
-------------------------------------------------
Yes

# Using For

In [13]:
userData = [10, 'Sara', 95.5, True, [15, 25, 35]]

print(userData)

print('-------------------------------------------------')

for i in userData:
    print(i)

[10, 'Sara', 95.5, True, [15, 25, 35]]
-------------------------------------------------
10
Sara
95.5
True
[15, 25, 35]

In [14]:
userData = [10, 'Sara', 95.5, True, [15, 25, 35]]

print(userData)

print('-------------------------------------------------')

ageValues = userData[4]

print(ageValues)

[10, 'Sara', 95.5, True, [15, 25, 35]]
-------------------------------------------------
[15, 25, 35]

# Add Values After Variable Declaration

In [1]:
userData = [10, 'Sara', 95.5, True]

print(userData)

print('-------------------------------------------------')

[10, 'Sara', 95.5, True]
-------------------------------------------------

In [2]:
# append

userData.append(9500912258)

print(userData)

[10, 'Sara', 95.5, True, 9500912258]

In [3]:
userData01 = [10, 'Sara', 95.5, True]

print(userData01)

userData02 = ['Male', 'sara@gmail.com']

print(userData02)

print('-------------------------------------------------')

[10, 'Sara', 95.5, True]
['Male', 'sara@gmail.com']
-------------------------------------------------

In [5]:
# extend

userData01.extend(userData02)

print(userData01)

[10, 'Sara', 95.5, True, 'Male', 'sara@gmail.com', 'Male', 'sara@gmail.com']

# Update Existing Values

In [7]:
userData = [10, 'Sara', 95.5, True]

print(userData)

print('-------------------------------------------------')

print(userData[1])

userData[1] = 'Ram'

print(userData[1])

print(userData)

[10, 'Sara', 95.5, True]
-------------------------------------------------
Sara
Ram
[10, 'Ram', 95.5, True]

# Insert Values

In [9]:
userData = [10, 'Sara', 95.5, True]

print(userData)

print('-------------------------------------------------')

userData.insert(2, 'male')

print(userData)

[10, 'Sara', 95.5, True]
-------------------------------------------------
[10, 'Sara', 'male', 95.5, True]

# Remove Values

In [12]:
# Remove Based on values

userData = [10, 'Sara', 95.5, True]

print(userData)

print('-------------------------------------------------')

userData.remove(95.5)

print(userData)

[10, 'Sara', 95.5, True]
-------------------------------------------------
[10, 'Sara', True]

In [13]:
# Remove Based on Index

userData = [10, 'Sara', 95.5, True]

print(userData)

print('-------------------------------------------------')

userData.pop(3)

print(userData)

[10, 'Sara', 95.5, True]
-------------------------------------------------
[10, 'Sara', 95.5]

# Len

In [14]:
userData = [10, 'Sara', 95.5, True]

print(len(userData))

4

# Sort

In [18]:
ageValues = [20, 25, 18, 22, 28, 30, 16, 32]

print(ageValues)

print('-----------------------------------------------')

ageValues.sort()

print(ageValues)

print('-----------------------------------------------')

ageValues.sort(reverse=True)

print(ageValues)

[20, 25, 18, 22, 28, 30, 16, 32]
-----------------------------------------------
[16, 18, 20, 22, 25, 28, 30, 32]
-----------------------------------------------
[32, 30, 28, 25, 22, 20, 18, 16]

In [28]:

nameValues = ['Sara', 'Lara', 'Ram', 'La', 'Barani', 'A', 'sara', 'lara']

print(nameValues)

nameValues.sort()

print(nameValues)

nameValues.sort(key=len)

print(nameValues)

print('--------------------------------------------')

print(nameValues[7])

print(len(nameValues[7]))

['Sara', 'Lara', 'Ram', 'La', 'Barani', 'A', 'sara', 'lara']
['A', 'Barani', 'La', 'Lara', 'Ram', 'Sara', 'lara', 'sara']
['A', 'La', 'Ram', 'Lara', 'Sara', 'lara', 'sara', 'Barani']
--------------------------------------------
Barani
6

# ToDay Work 

To write the python code for below output

userData = [10, 'Sara', 25, 'sara123@gmail.com', 950091]

# OutPut

User ID : 10

User Name : Sara

User Age : 25

User Gmail : sara123@gmail.com

User Mobile : 950091

User Birth Year : 2001

User UserName : sara123


Hi Sara, your mobile number 950091 is InValid