In [4]:
print('Welcome Python!..')

Welcome Python!..

In [3]:
print(10 + 20)

30

In [5]:
# Single Line Comment

'''
Multi 
Line 
Comment!....
'''

print('Single & Multi Line Comment')

Single & Multi Line Comment

# Data Types
------------

int - 0 to 9

float  - 10.5,...

str - '' or "" used for a to z, A to Z, Special Characters(!@#$%^&*()), numbers

bool - True, False

# Variable

In [7]:
userName = 'Sara'

age = 25

avg = 90.5

married = True

print(userName, type(userName))

print(age, type(age))

print(avg, type(avg))

print(married, type(married))

Sara <class 'str'>
25 <class 'int'>
90.5 <class 'float'>
True <class 'bool'>

# Concatination Operator(,)

In [8]:
print('User Name : ', userName)

User Name :  Sara

In [9]:
print('User Name : ', userName, ' Age is ', age)

User Name :  Sara  Age is  25

In [12]:
print('User Name : ' + userName, ' Age is ', age)

User Name : Sara  Age is  25

# Type Casting

In [14]:
print('User Name : ' + userName, ' Age is ' + str(age))

User Name : Sara  Age is 25

# Python Inputs

In [18]:
name = input('Enter your Name : ')

age = int(input('Enter your Age : '))

print('-----------------------------------------------')

print(name, ' your age is ', age)

birth_year = 2026 - age

print('Birth year is : ', birth_year)

Enter your Name :  Sara
Enter your Age :  23

-----------------------------------------------
Sara  your age is  23
Birth year is :  2003