# Operators:
------------
        Operators are some of operations on values or variables.

1. Arithmatic Operators
2. Arithmatic Assignment Operators
3. Relation or Comparision Operators
4. Logical Operators
5. Membership Operators
6. Identity Operators
7. Bitwise Operators

# Arithmatic Operators

In [6]:
a = 7

b = 2

print('Addition (+): ', a + b)

print('Subtraction (-): ', a - b)

print('Multiplication (*): ', a * b)

print('Division (/): ', a / b) # It will return Quotient

print('----------------------------------------------------')

print('Modulas (%): ', a % b) # It will return Remainder

print('Exponentiation (**): ', a ** b)

print('Floor Division (//): ', a // b)

Addition (+):  9
Subtraction (-):  5
Multiplication (*):  14
Division (/):  3.5
----------------------------------------------------
Modulas (%):  1
Exponentiation (**):  49
Floor Division (//):  3

# Assignment Operators

In [7]:
a = 10

print(a)

10

# Arithmatic Assignment Operators

In [11]:
a = 10

print(a)

a += 10 # a = a + 10

print(a)

10
20

# Relation or Comparision Operators

In [18]:
a = 10

b = 2

print(a, '==', b , ' : ', a == b)

print(a, '!=', b , ' : ', a != b)

print(a, '>=', b , ' : ', a >= b)

print(a, '<=', b , ' : ', a <= b)

10 == 2  :  False
10 != 2  :  True
10 >= 2  :  True
10 <= 2  :  False

# Logical Operators

In [26]:
# And
# Using Multiple Conditions. 

'''
T and F = F
F and F = F
F and T = F
T and T = T
'''
a = 10

b = 2

print(a, '==', b , ' : ', a == b)

print(a, '!=', b , ' : ', a != b)

print((a == b) and (a != b))

print(a, '>=', b , ' : ', a >= b)

print((a == b) and (a != b) and a >= b)

10 == 2  :  False
10 != 2  :  True
False
10 >= 2  :  True
False

In [21]:
# Or
# Using Multiple Conditions. 

'''
T or F = T
F or F = F
F or T = T
T or T = T
'''
a = 10

b = 2

print(a, '==', b , ' : ', a == b)

print(a, '!=', b , ' : ', a != b)

print((a == b) or (a != b))

10 == 2  :  False
10 != 2  :  True
True

In [25]:
# Not
'''
T = F
F = T
'''
a = 10

b = 2

print(a, '==', b , ' : ', a == b)

print(not(a == b))

print('---------------------------------------------')

print(a, '==', b , ' : ', a == b)

print(a, '!=', b , ' : ', a != b)

print((a == b) or (a != b))

print('---------------------------------------------')

print(not((a == b) or (a != b)))

10 == 2  :  False
True
---------------------------------------------
10 == 2  :  False
10 != 2  :  True
True
---------------------------------------------
False

# Membership Operators

In [30]:
userData = [10, 'Sara', 9500912258]

print(userData)

print('---------------------------------------------')

print('Sara' in userData)

print('Lara' in userData)

print('Lara' not in userData)

[10, 'Sara', 9500912258]
---------------------------------------------
True
False
True

# Identity Operators

In [34]:
a = 10

b = 10

print(id(a))

print(id(b))

print(a is b)

print(a is not b)

140726092178632
140726092178632
True
False

# Bitwise Operators

In [41]:
'''
# 0 = F, 1 = T

T & F = F
F & F = F
F & T = F
T & T = T
'''

'''
10 = 1010

3  = 0011
----------
     0010
'''

a = 10

b = 3

print('Bitwise And Operators (&): ', a & b)

Bitwise And Operators (&):  2

In [42]:
'''
# 0 = F, 1 = T

T | F = T
F | F = F
F | T = T
T | T = T
'''

'''
10 = 1010

3  = 0011
----------
     1011
'''

a = 10

b = 3

print('Bitwise Or Operators (|): ', a | b)

Bitwise Or Operators (|):  11

In [45]:
'''
a = 10

~a = -(a + 1) = -(10 + 1) = -11
'''

a = 10

print('Bitwise Not (~) : ', ~a)

Bitwise Not (~) :  -11

In [48]:
'''
a = 10

b = 2

a << b = 10 << 2
       = 10 * (2 * 2)  
       = 10 * (4)
       = 40
'''

a = 10

print('Left Shift Operators : ', a << 2)

print('Left Shift Operators : ', a << 3) # 10 * (2 * 2 * 2)

Left Shift Operators :  40
Left Shift Operators :  80

In [49]:
'''
a = 10

b = 2

a >> b = 10 >> 2
       = 10 / (2 * 2)  
       = 10 / (4)
       = 40
'''

a = 10

print('Right Shift Operators : ', a >> 2)

print('Right Shift Operators : ', a >> 3) # 10 / (2 * 2 * 2)

Right Shift Operators :  2
Right Shift Operators :  1